<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mémoire</title>
</head>
<body>
    <h1>Mémoire</h1>
    <p></p>
    <nav>
        <a href="{% url 'home' %}">Home</a> |
        <a href="{% url 'registres' %}">Registres</a> |
        <a href="{% url 'poemes' %}">Poèmes</a> |
        <a href="{% url 'memoire' %}">Mémoire</a> |
        <a href="{% url 'apropos' %}">À Propos</a>
    </nav>
</body>
</html>
